.photo-gallery-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 74rem;
    margin-bottom: 5rem;
  }

  
  .photogalleryheading h1{
    text-align: center;
    width: 100%;
    margin-top: 68rem;
    position: absolute;
  }
  
  .photo-gallery {
    display: flex;
    overflow: hidden;
    width: 100%; /* Set the width to 100% to ensure the images are displayed in a row */
  }
  
  .photo-gallery-image {
    flex: 0 0 auto;
    height: 400px;
    margin-right: 10px;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .photo-gallery-container {
      margin-top: 81rem;
    }
    .photogalleryheading h1{
      width: 100%;
      margin-top: 78rem;
      position: absolute;
    }
    .photo-gallery-image {
      height: 240px;
    }
  }
  